<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="LOG_HOME" source="LOG_HOME"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>web - %date [%thread] %-5level %logger{36} - %message%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE-AUDIT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/app.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} - %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_HOME}/archived/debug.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.transaction" level="INFO" />
    <!--<logger name="org.hibernate.SQL" level="TRACE">-->
        <!--<appender-ref ref="FILE-AUDIT" />-->
    <!--</logger>-->
    <!--<logger name="org.hibernate.type.descriptor.sql" level="TRACE">-->
        <!--<appender-ref ref="FILE-AUDIT" />-->
    <!--</logger>-->

    <!-- in order to debug some marshalling issues, this needs to be TRACE -->
    <logger name="org.springframework.web.servlet.mvc" level="INFO" />

    <logger name="com.otto.opg" level="INFO" additivity="false">
        <appender-ref ref="FILE-AUDIT" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
    <root level="INFO">
        <appender-ref ref="FILE-AUDIT" />
    </root>

</configuration>